.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.logo-container1 {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
}

.logo1 {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 20px;
  border-radius: 20%;
}

.header1 {
  color: white;
  text-align: center;
  padding: 10px;
  position: absolute;
  top: 35px;
  left: 100px;
}

.background-video1 {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30%;
}

.footer {
  color: white;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0,0.5);
  text-align: center;
  padding: 1rem;
}
