body, html {
    height: 100%;
    overflow: hidden;
  }
  
  .background-container {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
  }
  
  .background-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .login-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  
  .login-button a {
    width: max-content;
  }